<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874807563899-0csghqcj42sdmlsi4sbgm0rb6vhsas3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874807563899-0csghqcj42sdmlsi4sbgm0rb6vhsas3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCYrwXb38aNwwBZLNi0st1EayTQ1JZLxeU</string>
	<key>GCM_SENDER_ID</key>
	<string>874807563899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hukam.hbuddy117117</string>
	<key>PROJECT_ID</key>
	<string>hukam-157906</string>
	<key>STORAGE_BUCKET</key>
	<string>hukam-157906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874807563899:ios:f06f38b06dc6ab1c</string>
	<key>DATABASE_URL</key>
	<string>https://hukam-157906.firebaseio.com</string>
</dict>
</plist>