page-energy {
  .background {
    background: url('../assets/images/blurred1.jpg') center;
    background-size: cover;
  }

  .right{
    text-align: right;
  }

  .small{
    font-size: 11px;
    color: #fff
  }

  .scroll-content{
    padding: 3px !important;
  }

/*
  .toolbar {
    .toolbar-background {
      background: transparent;
    }

    .toolbar-title{
      color: #fff;
    }

    .bar-buttons{
      color: #fff;
    }
  }
*/

  .card{
    background: transparentize(#9BB4E3, 0.70);
    max-height: 150px;

    .card-title{
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }

    p{
      font-size: 13px;
      color: #fff;
    }

  }
}
