<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only >
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title >
      Camera Views
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="icon-circle-small" (click)="viewSettings();">
         <ion-icon name="construct"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card-content *ngIf="showSettingsPanel">
    <ion-list no-line>

      <ion-item>
        <ion-label stacked>Camera Source</ion-label>
        <ion-input type="text" placeholder="Camera Source URL" [(ngModel)]="cameraSrc"></ion-input>
      </ion-item>

      <ion-row>
          <ion-col>
              <button ion-button block outline  (click)='updateCameraSrc();'>
                Update
              </button>
          </ion-col>
          <ion-col>
              <button ion-button block outline  (click)='dismiss();'>
                Cancel
              </button>
          </ion-col>
      </ion-row>


    </ion-list>
  </ion-card-content>

  <div class="iframe-holder" *ngIf="!showSettingsPanel">
    <iframe [src]="securityCamera.source | safe: 'resourceUrl'" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <ion-row>

    <ion-col col-8 offset-6>
      <button *ngIf="!isListening" ion-button icon-only class="card-bottom-btn center icon-circle-small icon-circle-outline" (click)="sayCommands();">
         <ion-icon name="mic"></ion-icon>
      </button>
      <button *ngIf="isListening" ion-button icon-only class="card-bottom-btn center icon-circle-small icon-circle-outline" (click)="stopListening();">
         <ion-icon name="mic-off"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col col-6>
      <button ion-button icon-center clear class="card-bottom-btn left" (click)="startDetection();">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
    </ion-col>

    <ion-col col-6>
      <button ion-button icon-center clear class="card-bottom-btn right" (click)="pauseDetection();">
        <ion-icon name="pause"></ion-icon>
        Pause
      </button>
    </ion-col>
  </ion-row>

</ion-content>
