<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only >
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title >
      Gateway Settings
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Available Boards
    </ion-list-header>
        <ion-item *ngFor="let bleDevice of bleDevices">
            <ion-avatar item-left>
                <ion-icon name="bluetooth"></ion-icon>
            </ion-avatar>
            <ion-label>
              {{bleDevice.name}} |
              <button class="title-btn" ion-button icon-left clear small (click)="showUpdateWifiCard(bleDevice);">
                <ion-icon name="create"></ion-icon>
              </button>
              <!-- <p>{{device.description}}</p> -->
            </ion-label>
            <ion-toggle (click)="connectBoardOnBLE(bleDevice);"></ion-toggle>

        </ion-item>

  </ion-list>

  <ion-card *ngIf="showUpdateWifi">
    <ion-card-header>
      WiFi Credentials
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" placeholder="WiFi SSID" [(ngModel)]="configurations.wifi.ssid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="WiFi Password" [(ngModel)]="configurations.wifi.password"></ion-input>
        </ion-item>
        <button ion-button block outline color="light" (click)='updateGatewayWifi();'>
          Submit
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>

</ion-content>
