<ion-header >
  <ion-navbar color="primary">
    <ion-buttons start>
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>
      {{selectedPlaceArea.title}}
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only class="icon-circle-small icon-circle-outline" (click)="showAddNewBoard();">
           <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <div *ngIf="showDevices">
        <ion-list *ngFor="let board of selectedPlaceArea.boards">
          <ion-list-header>
            {{board.uniqueIdentifier}}
          </ion-list-header>

              <ion-item *ngFor="let device of board.devices">
                  <ion-avatar item-left>
                      <ion-icon name="flaticon-{{device.type}}" color="device{{device.status}}"></ion-icon>
                  </ion-avatar>
                  <ion-label>
                    {{device.title}} |
                    <button class="title-btn" ion-button icon-left clear small (click)="showEditDevicePanel(device);">
                      <ion-icon name="create"></ion-icon>
                    </button>
                    <!-- <p>{{device.description}}</p> -->
                    <p *ngIf="device.audit && device.audit.modified">{{device.audit.modified | date: 'dd/MM/yyyy H:mm'}}</p>
                  </ion-label>
                  <ion-toggle (click)="deviceChanged(board, device);"></ion-toggle>

              </ion-item>
        </ion-list>

  </div>

  <ion-card *ngIf="showEditDevice">
    <ion-card-header>
       Update {{selectedDevice.title}}
    </ion-card-header>
    <ion-card-content>
        <ion-list no-line>
            <ion-item>
              <ion-label stacked>Device Type</ion-label>
              <ion-select class="small" [(ngModel)]="selectedDevice.type" >
                <ion-option *ngFor="let type of deviceTypes" value="{{type}}">
                    {{type}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label stacked>Device Title</ion-label>
              <ion-input type="text" [(ngModel)]="selectedDevice.title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked >Description</ion-label>
              <ion-textarea type="text" [(ngModel)]="selectedDevice.description"></ion-textarea>
            </ion-item>

            <ion-row>
                <ion-col>
                    <button ion-button block outline  (click)='saveDevice(selectedDevice);'>
                      Submit
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button block outline  (click)='cancelEditDevice();'>
                      Cancel
                    </button>
                </ion-col>
            </ion-row>

        </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
