// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

 // @import 'icons/ionicons';
// @import 'icons/flaticon';

.menu-label {
  font-size: 12px;
  padding-left: 15px
}

.icon-circle, .icon-circle-large, .icon-circle-small{
position: relative;
display: inline-block;
margin: -1px;
  /*padding: 16px;*/
width: 25px; /* 60*/
height: 25px;
font-size:16px;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius: 50%;
border: 1px solid #fff;
background: transparent; /*#ececec;ebebeb*/
color: #fff;

text-align:center;
/*vertical-align: middle;*/
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px; /* 64, originally 60 */
  padding: 16px;
}

.icon-circle-small {
  width: 20px;
  height: 20px;
  font-size: 12px;
}

/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
 border: 1px solid #fff;
 background: transparent;
 color: #fff;
 /*color: #8a6de9;*/
}

.icon-circle-outline i {  }
/*icon-circle-bg and icon-circle and circle-bg*/
