
<ion-header *ngIf="showPlaceAreas">
  <ion-navbar color="primary">
    <ion-buttons start>
        <button ion-button menuToggle="left" icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>
      {{selectedPlace.title}}
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only class="icon-circle-small icon-circle-outline" (click)="showAddNewPlaceArea();">
           <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only class="icon-circle-small" (click)="viewSettings();">
           <ion-icon name="construct"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-header *ngIf="showAddUpdatePlaceArea">
  <ion-toolbar color="primary">
    <ion-title>
      Add/Update PlaceArea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div *ngIf="showPlaceAreas">
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

        <ion-card *ngFor="let area of placeAreas">
          <ion-card-content class="text-left">
            <ion-card-title>
              {{area.title}}
              <span class="small font-weight-small right">
                <ion-col col-3 right><ion-icon name="thermometer" color="danger"></ion-icon> 24 &deg;C</ion-col>
                <ion-col col-3 right><ion-icon name="water" color="primary"></ion-icon> 54%</ion-col>
              </span>
            </ion-card-title>

            <p>{{area.description}}</p>

          </ion-card-content>

              <ion-row>
                <ion-col col-6>
                  <button ion-button icon-center clear class="card-bottom-btn left" (click)="showEditPlaceArea(area);">
                    <ion-icon name="create"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button icon-center clear class="card-bottom-btn right" (click)="viewPlaceArea(area);">
                    <ion-icon name="eye"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>

      </ion-card>
  </div>

      <ion-card *ngIf="showAddUpdatePlaceArea">
        <ion-card-header>
          <!-- Add/Update Place -->
        </ion-card-header>
        <ion-card-content>
            <ion-list no-line>
                <ion-item>
                  <ion-label stacked>Area Type</ion-label>
                  <ion-select class="small" [(ngModel)]="selectedPlaceArea.type" >
                    <ion-option *ngFor="let type of placeAreaTypes" value="{{type}}">
                        {{type}}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Place Title</ion-label>
        					<ion-input type="text" [(ngModel)]="selectedPlaceArea.title"></ion-input>
        				</ion-item>
        				<ion-item>
                  <ion-label stacked >Description</ion-label>
        					<ion-textarea type="text" [(ngModel)]="selectedPlaceArea.description"></ion-textarea>
        				</ion-item>
                <ion-item>
                  <ion-label stacked>Floor</ion-label>
        					<ion-select class="small" [(ngModel)]="selectedPlaceArea.floor" >
                    <ion-option *ngFor="let floor of floors" value="{{floor}}">
                        {{floor}}
                    </ion-option>
                  </ion-select>
        				</ion-item>

                <ion-row>
                    <ion-col>
                				<button ion-button block outline  (click)='savePlaceArea();'>
                          Submit
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button block outline  (click)='dismiss();'>
                          Cancel
                        </button>
                    </ion-col>
                </ion-row>

      			</ion-list>
        </ion-card-content>
      </ion-card>


</ion-content>
